record(ao, "$(HOST)$(DEV)$(RECORD):S")
{
    field(DESC, "$(DESC)")
    field(EGU,  "$(EGU)")
    field(PREC, "$(PREC)")
    field(DTYP, "stream")
    field(FLNK, "$(HOST)$(DEV)$(RECORD):G.PROC")
    field(OUT,  "@fgccmd.proto set_real($(FGC),$(PROP)) $(PORT)")
}

