record(ai, "$(HOST)$(DEV)$(RECORD)") {
    field(SCAN, "I/O Intr")
    field(DTYP, "asynFloat64")
    field(DESC, "$(DESC)")
    field(EGU,  "$(EGU)")
    field(TSE,  "-2")
    field(INP,  "@asyn($(PORT), 0) $(FGC):$(PARAM)")
}


