record(waveform, "$(HOST)$(DEV)$(RECORD):G")
{
    field(DESC, "$(DESC)")
    field(DTYP, "stream")
    field(PINI, "YES")
    field(FTVL, "CHAR")
    field(NELM, "$(NELM)")
    field(SCAN, "Passive")
    field(INP,  "@fgccmd.proto get_string($(FGC),$(PROP)) $(PORT)")
}

