record(longin, "$(HOST)$(DEV)$(RECORD)")
{
    field(DESC, "$(DESC)")
    field(EGU,  "$(EGU)") 
    field(DTYP, "stream")
    field(PINI, "YES")
    field(SCAN, "Passive")
    field(INP,  "@fgccmd.proto get_long($(FGC),$(PROP)) $(PORT)")
}

