record(longout, "$(HOST)$(DEV)$(RECORD):S")
{
    field(DESC, "$(DESC)")
    field(EGU,  "$(EGU)")
    field(DTYP, "stream")
    field(SCAN, "Passive")
    field(FLNK, "$(HOST)$(DEV)$(RECORD):G.PROC")
    field(OUT,  "@fgccmd.proto set_long($(FGC),$(PROP)) $(PORT)")
}

